button {
    background-color: #eaf9f5;
    border: 4px #00f7b5;
    color: black;
    text-align: left;
    font-size: 12px;
}

header {
    background-color: #eaf9f5;
}

header p {
    text-align: center;
    font-weight: bold;
    font-size: 100;
}

hi.foo {
    text-align: center;
}

h1#new-point {
    text-align: center;
}



.byline {
    font-style: italic;
    font-size: 80%;
}